@charset "utf-8";
/* CSS Document */
*{maegin:0;padding:0;outline:none;border:0;}
boby{font-family:"微软雅黑";background:fdfdfd;}

#bg{
	width:1200px;
	height:617px;
	background:url(../images/bg.png) no-repeat'
	margin:0 auto;
}
